@import url('https://fonts.googleapis.com/css2?family=Six+Caps&family=Tilt+Prism&family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Six+Caps&family=Tilt+Prism&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

:root {
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    line-height: 4rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
a {
    font-size: 1rem !important;
    letter-spacing: 0.01rem;
    word-spacing: .01rem;
}

.common-heading {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.common-title {
    margin-bottom: 4.2rem;
}

.nav-link {
    color: var(--bs-main-color);
}

.text-light-grey {
    color: var(--bs-primary-color);
}

.nav-link:hover {
    color: var(--secondary-color);
    transition: color 0.5s ease-in-out;
}

.hero-section .container {
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main {
    height: 100vh;
    position: relative;
}

.bg-color {
    background-color: var(--bs-dark-color);
}

.hero-video--section {
    max-width: 100%;
    height: auto;
    width: 90%;
    border-radius: 2rem;
}

.custom-shape-divider-bottom-1692261263 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692261263 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1692261263 .shape-fill {
    fill: #FFFFFF;
}

.services-section {
    padding: 6rem 0 3rem 0 !important;
}

.icon-span {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--bs-main-color);
}

.card-box:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.more-info-section {
    background-image: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.9)), url('13.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
    overflow: hidden;
}

.common-section {
    padding: 0 0 9rem 0;
}

.more-info-section .image-section {
    position: relative;
}

.more-info-section .image-section img {
    width: 80%;
}

.business-section {
    padding-top: 3rem;
}

.carousel .card {
    background-color: #262631;
    color: var(--bs-main-color);
    transition: all 0.3s linear;
}

.carousel-inner .card p {
    color: grey;
}

.carousel-inner .card:hover {
    background-color: var(--bs-main-color);
    color: var(--bs-dark-color);
}

.carousel-inner .card p:hover {
    color: var(--bs-dark-color);
}

.fa-star {
    color: var(--bs-supporting-color);
}

.carousel-indicators {
    bottom: -20%;
}

.carousel-indicators [data-bs-target] {
    width: .7rem;
    height: .7rem;
    background-color: var(--secondary-color);
}

.carousel-inner .card {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.carousel-inner .card img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.carousel-inner .card:hover img {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.contact-section {
    position: relative;
}

.custom-shape-divider-top-1692432345 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1692432345 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1692432345 .shape-fill {
    fill: #FFFFFF;
}

.contact-section .common-title {
    padding-top: 4rem;
}

.contact-section .form-section {
    width: 50%;
}

@media screen and (max-width: 1200px) {
    .hero-video--section{
        width: 20rem;
        border-radius: 2rem;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-toggler {
        border-color: var(--bs-main-color);
    }

    .navbar-toggler-icon {
        color: var(--bs-main-color);
        background-color: var(--bs-main-color);
    }

    h1 {
        font-size: 2.4rem;
    }

    section .common-heading {
        font-size: 2rem;
    }

    section .para-width {
        width: auto;
    }

    .hero-section {
        height: 110vh;
    }

    .common-section {
        width: auto;
    }
}